include ./../mixin/skills

section.section.about
    .about__triangals
        include ./_triangals
    .about__left
        .title__block
            h1.title.about__title-pos Обо мне
                svg.title__bg
                    use(xlink:href="./assets/img/sprite.svg#about_header")
        .about__content
            .about__pic
                img(src="assets/img/user-sq.jpg", alt="")
            .sub__title
                h2.about__title.subtitle Кто я
            .about__desc
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .about__right
        .skills
            .skills__desc
                .sub__title
                    h2.subtitle Чем я могу быть вам полезен
                .skills__text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

            +skills([{
                'name': 'Frontend',
                'skills': [{'name': 'HTML5', 'count': '156.52 314.15'}, {'name': 'CSS3', 'count': '56.52 314.15'}, {'name': 'JavaScrip & jQuery', 'count': '256.52 314.15'}]
            },
            {
                'name': 'Backend',
                'skills': [{'name': 'PHP', 'count': '56.52 314.15'}, {'name': 'Node.js', 'count': '156.52 314.15'}, {'name': 'OOP', 'count': '116.52 314.15'}, {'name': 'WordPress', 'count': '36.52 314.15'}]
            },
            {
                'name': 'Workflow',
                'skills': [{'name': 'Git', 'count': '156.52 314.15'}, {'name': 'Gulp', 'count': '216.52 314.15'}, {'name': 'Webpack', 'count': '296.52 314.15'}]
            }])

