section.groups
    a.promo-item(href="#" title="")
        img(src="./assets/img/articles/notes.png" alt="").promo-item__pic
        .promo-item__dots
            svg.dots__pic
                use(xlink:href="./assets/img/sprite.svg#dots")
        .promo-item__text
            .promo-item__text-block
                .promo-item__headline Скидка на ремонт
                .promo-item__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    br
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            //.groups-item__btn
            //    svg.groups-item__btn-pic
            //        use(xlink:href="./assets/img/sprite.svg#groups-arrow")
    a.promo-item(href="#" title="")
        img(src="./assets/img/articles/notes.png" alt="").promo-item__pic
        .promo-item__dots
            svg.dots__pic
                use(xlink:href="./assets/img/sprite.svg#dots")
        .promo-item__text
            .promo-item__text-block
                .promo-item__headline Скидка на мониторы
                .promo-item__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    br
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            //.groups-item__btn
            //    svg.groups-item__btn-pic
            //        use(xlink:href="./assets/img/sprite.svg#groups-arrow")
    a.promo-item(href="#" title="")
        img(src="./assets/img/articles/notes.png" alt="").promo-item__pic
        .promo-item__dots
            svg.dots__pic
                use(xlink:href="./assets/img/sprite.svg#dots")
        .promo-item__text
            .promo-item__text-block
                .promo-item__headline Скидка на ремонт apple
                .promo-item__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    | magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            //.groups-item__btn
            //    svg.groups-item__btn-pic
            //        use(xlink:href="./assets/img/sprite.svg#groups-arrow")
    a.promo-item(href="#" title="")
        img(src="./assets/img/articles/notes.png" alt="").promo-item__pic
        .promo-item__dots
            svg.dots__pic
                use(xlink:href="./assets/img/sprite.svg#dots")
        .promo-item__text
            .promo-item__text-block
                .promo-item__headline Скидка на ремонт стиралок
                .promo-item__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    p magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    br
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    br
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    br
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            //.groups-item__btn
            //    svg.groups-item__btn-pic
            //        use(xlink:href="./assets/img/sprite.svg#groups-arrow")