section.articles
    .container
        .articles__content
            h2.title.title__article.articles__title О нас
            .articles__text
                p Мы благодарим Вас за интерес, проявленный к нашей продукции и услугам. Политика нашей компании в области сервисного обслуживания может служить примером внимательного отношения к своим потребителям и потенциальным покупателям.
                br
                p Специалисты сервисного центра постоянно работают над совершенствованием и расширением сервисной сети и качеством обслуживания потребителей. В нашем сервисном центре сочетается грамотная консультация и обслуживание клиентов в сроки, и тем самым он уже успел сформировать компетентную мастерскую по ремонту и техническому обслуживанию различной техники.
                br
                p Основной целью сервисного центра является получение выгоды для владельца, оставить впечатления о хорошей проделанной работе каждого клиента в качественном ремонте и техническом обслуживании техники. Обслуживание и ремонт в нашем  сервисном центре значительно продлит срок службы и вовремя устранит неполадки с устройством.

