section.articles
    .container
        ul.articles__items
            li.articles__item
                h3.articles__title О нас
                p.articles__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала. Однако мы не в силах обеспечить гарантированное качество предоставления услуг в каждом отдельном случае без вашей помощи. Поэтому, просим вас сообщать обо всех случаях неудовлетворительного обслуживания, а также вносить предложения по улучшению сервиса на странице отзывов
                .articles__btns
                    a(href="#" title="").articles__btn Читать все
            li.articles__item
                h3.articles__title О нас
                p.articles__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала. Однако мы не в силах обеспечить гарантированное качество предоставления услуг в каждом отдельном случае без вашей помощи. Поэтому, просим вас сообщать обо всех случаях неудовлетворительного обслуживания, а также вносить предложения по улучшению сервиса на странице отзывов
                .articles__btns
                    a(href="#" title="").articles__btn Читать все
            li.articles__item
                h3.articles__title О нас
                p.articles__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала. Однако мы не в силах обеспечить гарантированное качество предоставления услуг в каждом отдельном случае без вашей помощи. Поэтому, просим вас сообщать обо всех случаях неудовлетворительного обслуживания, а также вносить предложения по улучшению сервиса на странице отзывов
                .articles__btns
                    a(href="#" title="").articles__btn Читать все

