section.groups
    .article-item
        img(src="./assets/img/articles/notes.png" alt="").article-item__pic
        .article-item__dots
            svg.dots__pic
                use(xlink:href="./assets/img/sprite.svg#dots")
        .article-item__text
            .article-item__text-block
                .article-item__headline Скидка на ремонт
                .article-item__content
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .article-item__btn
                svg.article-item__btn-pic
                    use(xlink:href="./assets/img/sprite.svg#groups-arrow")

