section.brands
    marquee(behavior="alternate" direction="left")
        .brands__item
            img.brand__item(src="assets/img/decor/acer.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/apple.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/lg.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/hp.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/htc.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/huawei.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/indesit.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/lenovo.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/nokia.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/panasonic.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/philips.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/samsung.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/sony.png" alt="")
        .brands__item
            img.brand__item(src="assets/img/decor/toshiba.png" alt="")

