section.brands
    ul.brands__items
        li.brands__item
            img.brand__item(src="assets/img/decor/husqvarna.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/bosch.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/philips.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/indesit.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/samsung.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/husqvarna.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/bosch.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/philips.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/indesit.png" alt="")
        li.brands__item
            img.brand__item(src="assets/img/decor/samsung.png" alt="")

