.title__block
    h2.contacts__title.subtitle Контакты
ul.contacts__items
    li.contacts__item
        a.contacts__link(href="skype:tehiko43?call")
            i.fa.fa-skype.fa-fw
            .contacts__text tehiko43
    li.contacts__item
        a.contacts__link(href="mailto:tehiko@inbox.ru")
            i.fa.fa-envelope.fa-fw
            .contacts__text tehiko@inbox.ru
    li.contacts__item
        a.contacts__link(href="tel:79991002448")
            i.fa.fa-phone.fa-fw
            .contacts__text +7 999 100 24 48
    li.contacts__item
        a.contacts__link
            i.fa.fa-map-marker.fa-fw
            .contacts__text Киров, Подгорная 2-38
