section.contacts
    .contacts__bg
    .container
        .contacts__content
            h2.title.title__contacts Контакты
            ul.contacts__items
                li.contacts__item
                    a.contacts__link(href="#" title="")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#map")
                        .contacts__text г. Киров, ул. Конева 7
                li.contacts__item
                    a.contacts__link(href="tel:88332450707" title="Телефон")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#phone-b")
                        .contacts__text 8 8332 45-07-07
                li.contacts__item
                    a.contacts__link(href="mailto:prometey@inbox.ru" title="Напишите нам")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#envelope")
                        .contacts__text firma@trongo.ru
                li.contacts__item
                    a.contacts__link(href="skype:prometey?call" title="Связаться по Skype")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#skype-b")
                        .contacts__text firma43

