section.contacts#contacts
    .contacts__bg
    .container
        .contacts__content
            h2.title.title__contacts Контакты
            ul.contacts__items
                li.contacts__item
                    a.contacts__link#contactsLink(href="#" title="")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#map")
                        .contacts__text г. Киров, ул. К. Маркса 18
                li.contacts__item
                    a.contacts__link(href="tel:88332450303" title="Телефон")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#phone-b")
                        .contacts__text 8 (8332) 45-03-03
                li.contacts__item
                    a.contacts__link(href="mailto:info@prometey43.com" title="Напишите нам")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#envelope")
                        .contacts__text info@prometey43.com
                li.contacts__item
                    a.contacts__link(href="skype:live:dmitriyah?call" title="Связаться по Skype")
                        svg.contacts__pic
                            use(xlink:href="./assets/img/sprite.svg#skype-b")
                        .contacts__text live:dmitriyah

