section.otzivi
    .otzivi__bg
    .container
        h2.title__otzivi.title Отзывы о нашей работе
        ul.otzivi__items
            li.otzivi__item
                .ava
                    img.otzivi__pic(src="./assets/img/articles/ava.jpg" alt="")
                h3.otzivi__name Максим
                p.otzivi__date 22.07.2017
                ul.otzivi__rate
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                p.otzivi__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала.  предложения по улучшению сервиса на странице отзывов
            li.otzivi__item.otzivi__item_active
                .ava
                    img.otzivi__pic(src="./assets/img/articles/ava.jpg" alt="")
                h3.otzivi__name Максим
                p.otzivi__date 22.07.2017
                ul.otzivi__rate
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                a(href='#' title='Читать весь отзыв').otzivi__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала.  предложения по улучшению сервиса на странице отзывов
            li.otzivi__item
                .ava
                    img.otzivi__pic(src="./assets/img/articles/ava.jpg" alt="")
                h3.otzivi__name Максим
                p.otzivi__date 22.07.2017
                ul.otzivi__rate
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                    li.rate__item
                        svg.rate__item__pic
                            use(xlink:href="./assets/img/sprite.svg#star")
                p.otzivi__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала.  предложения по улучшению сервиса на странице отзывов
        a.otzivi__toggler_left(href="#" title="Предыдущий отзыв")
            svg.otzivi__toggler_pic
                use(xlink:href="./assets/img/sprite.svg#arrows-block")
        a.otzivi__toggler_right(href="#" title="Следующий отзыв")
            svg.otzivi__toggler_pic.otzivi__toggler_pic_rotated
                use(xlink:href="./assets/img/sprite.svg#arrows-block")
        .leave-feedback-btn Оставить отзыв

