section.otzivi#otzivi
    .otzivi__bg
    .container
        h2.title__otzivi.title Отзывы о нашей работе
        .otzivi__toggler_left(title="Предыдущий отзыв")
            svg.otzivi__toggler_pic
                use(xlink:href="./assets/img/sprite.svg#arrows-block")
        .otzivi__toggler_right(title="Следующий отзыв")
            svg.otzivi__toggler_pic.otzivi__toggler_pic_rotated
                use(xlink:href="./assets/img/sprite.svg#arrows-block")
        .otzivi__container
            ul.otzivi__items#feedSlider
                li.otzivi__item.active
                    .ava
                        img.otzivi__pic(src="./assets/img/articles/ava1.jpg" alt="")
                    h3.otzivi__name Кирилл Чащин
                    p.otzivi__date 22.07.2017
                    ul.otzivi__rate
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                    p.otzivi__text Сдавал на ремонт ноут старенький. Пропадало изображение периодически. Сказали шлейф надо менять, не известно, есть такие в продаже или нет, предупредили, что может дорого обойтись. Ну я согласился. Деваться то некуда. В итоге сделали как-то без покупки шлейфа и взяли недорого.
                li.otzivi__item
                    .ava
                        img.otzivi__pic(src="./assets/img/articles/ava2.jpg" alt="")
                    h3.otzivi__name Валера
                    p.otzivi__date 22.07.2017
                    ul.otzivi__rate
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                    p.otzivi__text Сервис рекомендую делают качественно и по делу. телефон сделали за 5 дней заменили батарейку и гнездо подпаяли за 1200 справились на отлично. В другой сервис сперва ходил так отказались брать а здесь норм. деньги надо всем, а вот работать не все хотят. доволен на 100%
                li.otzivi__item
                    .ava
                        img.otzivi__pic(src="./assets/img/articles/ava3.jpg" alt="")
                    h3.otzivi__name Анна Сергеевна
                    p.otzivi__date 22.07.2017
                    ul.otzivi__rate
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                        li.rate__item
                            svg.rate__item__pic
                                use(xlink:href="./assets/img/sprite.svg#star")
                    p.otzivi__text Хорошие ребята работают в Прометее. Я не ожидала, что где-то еще действительно к клиентам относятся хорошо к людям и понимают, что клиент не виноват, если он чего-то не понимает. Мне очень понравилось обслуживание и сам ремонт. Машинка работает до сих пор. Спасибо.
                //li.otzivi__item
                //    .ava
                //        img.otzivi__pic(src="./assets/img/articles/ava.jpg" alt="")
                //    h3.otzivi__name Максим
                //    p.otzivi__date 22.07.2017
                //    ul.otzivi__rate
                //        li.rate__item
                //            svg.rate__item__pic
                //                use(xlink:href="./assets/img/sprite.svg#star")
                //        li.rate__item
                //            svg.rate__item__pic
                //                use(xlink:href="./assets/img/sprite.svg#star")
                //        li.rate__item
                //            svg.rate__item__pic
                //                use(xlink:href="./assets/img/sprite.svg#star")
                //        li.rate__item
                //            svg.rate__item__pic
                //                use(xlink:href="./assets/img/sprite.svg#star")
                //        li.rate__item
                //            svg.rate__item__pic
                //                use(xlink:href="./assets/img/sprite.svg#star")
                //    p.otzivi__text Не смотря на то, что уровень наших услуг многие наши клиенты уже считают лучшим в Кирове, мы ежедневно стремимся повышать качество обслуживания наших клиентов! Для этого у нас введена строгая дисциплинарная система среди менеджеров и поставлена высокая планка к подбору персонала.  предложения по улучшению сервиса на странице отзывов
        //.leave-feedback-btn Оставить отзыв

