.nav-btns
    ul.nav__items
        li.nav__item
            a(href="/works.html") Мои работы
        li.nav__item
            a(href="/about.html") Обо мне
        li.nav__item
            a(href="blog.html") Блог

