.order-form
    ul.order-form__items
        li.order-form__item
            .order-form__dropleft.check-stat
                a.order-form__link(href="#" title="Проверить статус ремонта") Проверить статус ремонта
            .order-form__bg
                svg.order-form__pic
                    use(xlink:href="./assets/img/sprite.svg#repair")
        li.order-form__item
            .order-form__dropleft
                a.order-form__link#callMaster(href="#" title="Вызвать мастера") Вызвать мастера
            .order-form__bg
                svg.order-form__pic
                    use(xlink:href="./assets/img/sprite.svg#engineer")
        li.order-form__item
            .order-form__dropleft
                a.order-form__link#orderParts(href="#" title="Заказ запчастей") Заказ запчастей
            .order-form__bg
                svg.order-form__pic
                    use(xlink:href="./assets/img/sprite.svg#parts")









        //li.order-form__item
        //    a.order-form__link(href="#" title="Вызвать мастера") Вызвать мастера
        //    .order-form__right-bg
        //        svg.order-form__pic
        //            use(xlink:href="./assets/img/sprite.svg#engineer")
        //li.order-form__item
        //    a.order-form__link(href="#" title="Заказ запчастей") Заказ запчастей
        //    .order-form__right-bg
        //        svg.order-form__pic
        //            use(xlink:href="./assets/img/sprite.svg#parts")

