section.feedbacks
    .sidebar-menu.sidebar-menu__masters
        .sidebar-menu__title Наши мастера:
        ul.sidebar-menu__list#masterItem
            li.masters__item.active#masterItem1(onclick="funcTab2(1)")
                p Багаев Серегей
            li.masters__item#masterItem2(onclick="funcTab2(2)")
                p Новиков Андрей
            li.masters__item#masterItem3(onclick="funcTab2(3)")
                p Губанов Антон
            li.masters__item#masterItem4(onclick="funcTab2(4)")
                p Прокопенко Генадий
        .sidebar__banner
            img.banner__pic(src="assets/img/banners/banner.jpg" alt="")
    .feedbacks__block#feedBlock
        ul.feedbacks__list.active#feedBlock1
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
        ul.feedbacks__list#feedBlock2
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
        ul.feedbacks__list#feedBlock3
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non
        ul.feedbacks__list#feedBlock4
            li.feedbacks__item
                .user_block
                    .user__pic
                        img.user__ava(src="assets/img/articles/user.jpg" alt="")
                    .user__name Анна
                    .user__city г. Киров
                    .feedbacks__date 22.04.2017
                .feedback
                    .feedback__headline
                        .feedback__headline__text Всё понравилось
                        ul.feedback__rate
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic.checked
                                    use(xlink:href="./assets/img/sprite.svg#star")
                            li.rate__star
                                svg.star__pic.star__pic
                                    use(xlink:href="./assets/img/sprite.svg#star")
                    .feedback__text
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            | reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            | nulla pariatur. Excepteur sint occaecat cupidatat non