section.prices
    .sidebar-menu.sidebar-menu__prices
        .sidebar-menu__title Наши услуги:
        ul.sidebar-menu__list#uslItem
            li.prices__item.active#priceItem1(onclick="funcTab(1)")
                p Ремонт компов
            li.prices__item#priceItem2(onclick="funcTab(2)")
                p Ремонт телефонов
            li.prices__item#priceItem3(onclick="funcTab(3)")
                p Замена экрана
            li.prices__item#priceItem4(onclick="funcTab(4)")
                p Чистка системы
        .sidebar__banner
            img.banner__pic(src="assets/img/banners/banner.jpg" alt="")
    .price__block#priceBlock
        table.prices__block.active#priceBlock1
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
        table.prices__block#priceBlock2
            tr.price__name
                th.price__item Ремонт смартвонов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
        table.prices__block#priceBlock3
            tr.price__name
                th.price__item Замена экрана
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
        table.prices__block#priceBlock4
            tr.price__name
                th.price__item Чистка системы
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
            tr.price__name
                th.price__item Ремонт компов
                th.price__tag
                    .costs 500
                    .cost__sign
                        svg.cost__pic
                            use(xlink:href="./assets/img/sprite.svg#ruble")
