section.service
    .container
        h2.title.title__service Наши услуги
        ul.service__items
            li.service__item
                img.service__pic(src="./assets/img/articles/comp.jpg" alt="Ремонт и обслуживание компьютеров")
                a.service__link(href="#" title="Ремонт и обслуживание компьютеров")
                    h3.service__item-headline Ремонт и обслуживание компьютеров
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
            li.service__item
                img.service__pic(src="./assets/img/articles/office.jpg" alt="Ремонт офисной техники")
                a.service__link(href="#" title="Ремонт и обслуживание офисной техники")
                    h3.service__item-headline Ремонт и обслуживание офисной техники
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
            li.service__item
                img.service__pic(src="./assets/img/articles/smarts.jpg" alt="Ремонт телефонов и смартфонов")
                a.service__link(href="#" title="Ремонт телефонов и смартфонов")
                    h3.service__item-headline Ремонт телефонов и смартфонов
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
            li.service__item
                img.service__pic(src="./assets/img/articles/tv.jpg" alt="Ремонт телевизоров, мониторов, моноблоков")
                a.service__link(href="#" title="Ремонт телевизоров, мониторов, моноблоков")
                    h3.service__item-headline Ремонт телевизоров, мониторов, моноблоков
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
            li.service__item
                img.service__pic(src="./assets/img/articles/bit.jpg" alt="Ремонт бытовой техники")
                a.service__link(href="#" title="Ремонт и обслуживание бытовой техники")
                    h3.service__item-headline Ремонт и обслуживание бытовой техники
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...
            li.service__item
                img.service__pic(src="./assets/img/articles/apple.jpg" alt="Ремонт и обслуживание Apple")
                a.service__link(href="#" title="Ремонт и обслуживание Apple")
                    h3.service__item-headline Ремонт и обслуживание Apple
                    p.service__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ...


