section.service#service
    .container
        h2.title.title__service Наши услуги
        ul.service__items
            li.service__item
                img.service__pic(src="./assets/img/articles/smarts.jpg" alt="Ремонт мобильной электроники")
                .service__link.service__link1
                    h3.service__item-headline Ремонт мобильной электроники
                    p.service__item-text Наши специалисты осуществляют профессиональный ремонт и сервисное обслуживание любой мобильной электроники...
            li.service__item
                img.service__pic(src="./assets/img/articles/apple.jpg" alt="Ремонт и обслуживание техники Apple")
                .service__link.service__link2
                    h3.service__item-headline Ремонт и обслуживание техники Apple
                    p.service__item-text Если с вашим аппаратом стало что-то не так – не переживайте, наши специалисты отлично разбираются в каждой модели...
            li.service__item
                img.service__pic(src="./assets/img/articles/comp.jpg" alt="Ремонт и обслуживание компьютеров и ноутбуков")
                .service__link.service__link3
                    h3.service__item-headline Ремонт компьютеров и ноутбуков
                    p.service__item-text Неполадки в работе компьютера - довольно частое явление, поэтому своевременное обслуживание и ремонт техники необходим...
            li.service__item
                img.service__pic(src="./assets/img/articles/vape.jpg" alt="Ремонт электронных сигарет")
                .service__link.service__link4
                    h3.service__item-headline Ремонт и обслуживание электронных сигарет
                    p.service__item-text Рынок VAPE индустрии активно развивается, наш сервис поможет с ремонтом вашего VAPE и проконсультировать по всем вопросам...
            li.service__item
                img.service__pic(src="./assets/img/articles/gir.jpg" alt="Ремонт и обслуживание гироскутеров")
                .service__link.service__link5
                    h3.service__item-headline Ремонт и обслуживание гироскутеров
                    p.service__item-text Наша компания проводит ремонт и обслуживание гироскутеров в случае заводского брака или поломки...
            li.service__item
                img.service__pic(src="./assets/img/articles/bit.jpg" alt="Ремонт бытовых приборов и техники")
                .service__link.service__link6
                    h3.service__item-headline Ремонт бытовых приборов и техники
                    p.service__item-text Современная бытовая техника отличается высокой надежностью, но иногда могут возникать различные поломки и неполадки...


