//section.section.sidebar-menu
//    a.menu__picker
//    ul.sidebar-menu__items
//        li.sidebar-menu__item Самое важное в SASS
//        li.sidebar-menu__item Приёмы в вёрстке, без которых не обходится ни один сайт
//        li.sidebar-menu__item Самый необходимый набор Gulp плагинов
//        li.sidebar-menu__item Почему я выбрал Jade

