section.slider
    ul.slider__items
        li.slider__item
            .slider-bg
            img.slider__pic(src="assets/img/slider/ma.jpg" alt="")
            .slider__content
                h1.slider__headline Только в мае
                p.slider__text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    | esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                .btn.btn_big
                    a(href="#" title="Участвовать в акции").btn__link Купить
    include _order-form

