section.slider.slick-slider
    a.slider__block
        img.slider__pic(src="assets/img/slider/shap2.jpg" alt="")
        //.slider__toggler.slider__toggler_left#slider1(title="Предыдущий слайд")
        //    svg.slider__toggler_pic.slider__toggler_pic_rotated
        //        use(xlink:href="./assets/img/sprite.svg#arrow")
        //.slider__toggler.slider__toggler_right#slider2(title="Следующий слайд")
        //    svg.slider__toggler_pic
        //        use(xlink:href="./assets/img/sprite.svg#arrow")
        //ul.slider__items
        //    li.slider__item
        //        a.slider__link.slider__link1
        //        //img.slider__pic(src="assets/img/slider/mob.jpg" alt="")
        //    li.slider__item
        //        a.slider__link.slider__link2
        //        //img.slider__pic(src="assets/img/slider/sig.jpg" alt="")
        //    li.slider__item
        //        a.slider__link.slider__link3
        //        //img.slider__pic(src="assets/img/slider/akk.jpg" alt="")




