section.work-process
    .container
        h2.title__work-process.title Рабочий процесс
        .video-toggler__up(title="Вверх")
            svg.video-toggler__pic.video-toggler__pic_up
                use(xlink:href="./assets/img/sprite.svg#arrow-up")
        .work-process__content
            .main__screen
                .main__video
                    iframe(width="auto" height="auto" src="https://www.youtube.com/embed/THR8hv7IDUo" frameborder="0" allowfullscreen)
            .dop__screen
                ul.video__items
                    li.video__item
                        iframe(width="auto" height="auto" src="https://www.youtube.com/embed/THR8hv7IDUo" frameborder="0" allowfullscreen)
                    li.video__item
                        iframe(width="auto" height="auto" src="https://www.youtube.com/embed/THR8hv7IDUo" frameborder="0" allowfullscreen)
                    li.video__item
                        iframe(width="auto" height="auto" src="https://www.youtube.com/embed/THR8hv7IDUo" frameborder="0" allowfullscreen)
                    li.video__item
                        iframe(width="auto" height="auto" src="https://www.youtube.com/embed/THR8hv7IDUo" frameborder="0" allowfullscreen)
        .video-toggler__down(title="Вниз")
            svg.video-toggler__pic.video-toggler__pic_down
                use(xlink:href="./assets/img/sprite.svg#arrow-down")

