section.welcome
    .head__bg
    .flip-container(ontouchstart="this.classList.toggle('hover');")
        .flipper
            include ../sections/_presentation
            include ../sections/_login

