section.section.works
    .headline
        .work__triangals
            include ./_triangals
        h1.title.works__title-pos Мои работы
            svg.title__bg
                use(xlink:href="./assets/img/sprite.svg#works_header")
    include ./_slider

