//vars
$footerh: 255px;
//$input-area-margin: 20px;
//$input-area-height: 45px;


//colors
$orange: #f28d00;
$green: #2f8d34;
$black: #3a3a3a;
$dark-black: #030303;
$white: #f8f8f8;
$grey: #8a8a8a;
$brown: #a0410d;
$blue: #0054a6;
$light-grey: #8a8989;
$biruza: #0076a3;

//mixins
@import 'mixins';

//common
@import 'common/common';
@import 'common/header-alt';
@import 'common/nav';
@import 'common/footer';
@import 'fonts/stylesheet';
@import 'common/animate';

//sections
@import 'sections/articles';
@import 'sections/top-bar';
@import 'sections/brands';
@import 'sections/contacts';
@import 'sections/feedbacks';
@import 'sections/masters-menu';
@import 'sections/order-form';
@import 'sections/service';
@import 'sections/slider';
@import 'sections/video';

