//vars
$footerh: 255px;
//$input-area-margin: 20px;
//$input-area-height: 45px;


//colors
$orange: #f28d00;
$green: #2f8d34;
$black: #3a3a3a;
$dark-black: #030303;
$white: #f8f8f8;
$grey: #8a8a8a;
$brown: #a0410d;
$blue: #0054a6;
$light-grey: #8a8989;
$biruza: #0076a3;

//mixins
@import 'mixins';

//common
@import 'common/common';
@import 'common/header';
@import 'common/nav';
@import 'common/footer';
@import 'fonts/stylesheet';
@import 'common/animate';
@import 'common/article-header';
@import 'common/article';
@import 'common/breadcrumbs';
@import 'common/categories';
@import 'common/article-footer';
@import 'common/pagination';
@import 'common/addresses';
@import 'common/forms';

//sections
@import 'sections/articles-block';
@import 'sections/top-bar';
@import 'sections/brands';
@import 'sections/contacts';
@import 'sections/otzivi-block';
@import 'sections/feedbacks';
@import 'sections/masters-menu';
@import 'sections/order-form';
@import 'sections/service';
@import 'sections/slider';
@import 'sections/prices';
@import 'sections/video';
@import 'sections/openup';

//slick
@import 'slick/slick';
@import 'slick/slick-theme';

