.addresses.yandex-map
    .addresses__closer
    .addresses__content
        .title__addresses Наши адреса
        ul.addresses__items
            li.addresses__item
                span г. Киров, ул. К. Маркса 18
                p т. 45-03-03 - Головной офис
            li.addresses__item
                span г. Киров, пр-т Строителей 1/а
                p т. 78-15-36 - Пункт приема
            li.addresses__item
                span г. Киров, ул. Воровского 133
                p т. 78-15-26 - Пункт приема
            li.addresses__item
                span г. Киров, ул. Щорса 37
                p т. 73-15-27 - Пункт приема
            li.addresses__item
                span г. Киров, ул. Лепсе 54
                p т. 73-15-26 - Пункт приема
            li.addresses__item
                span г. Киров, ул. Лепсе 5
                p т. 73-15-16 - Пункт приема
            li.addresses__item
                span г. Киров, Октябрьский пр-т 3
                p т. 77-78-59 - Пункт приема
    .map#map(style="width: 100%; height: 100%;")
