.article__footer
    .callback-icon
        svg.callback-icon__pic
            use(xlink:href="./assets/img/sprite.svg#cb")
    .share-block
        p Поделиться:
        .share-icon
            svg.share-icon__pic
                use(xlink:href="./assets/img/sprite.svg#in-art")
            svg.share-icon__pic
                use(xlink:href="./assets/img/sprite.svg#vk-art")
            svg.share-icon__pic
                use(xlink:href="./assets/img/sprite.svg#fb-art")
            svg.share-icon__pic
                use(xlink:href="./assets/img/sprite.svg#g-art")
