.breadcrumbs
    .breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
        a.breadcrumbs__content(href="http://prometey43.com" itemprop="url" rel="nofolow")
            span.breadcrumbs__text(itemprop="title") Главная / Акции
    .breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
        a.breadcrumbs__content(href="http://prometey43.com/aktsii" itemprop="url" rel="nofolow")
            span(itemprop="title") Акции

