section.footer
    .container
        .footer__left
            a.footer-logo(href="../pages/index.html" title='Сервисный центр "Прометей"')
                svg.footer-logo__pic
                    use(xlink:href="./assets/img/sprite.svg#logo-b")
            p.copyright copyright &#169; 2017 - студия «Red Potato»
            svg.copyright__pic
                use(xlink:href="#")
        .footer__right
            .footer-text
                h4.footer-text__title Время работы:
                ul.footer-text__items
                    li.footer-text__item Пн -пт: 9.00 до 18.00
                    li.footer-text__item Суб: 10.00 до 16.00
                    li.footer-text__item Воск: выходной
                ul.footer-social__items
                    li.footer-social__item
                        a.footer-socials__link(href="#" title="")
                            svg.footer-socials__pic
                                use(xlink:href="./assets/img/sprite.svg#vk-c")
                    li.footer-social__item
                        a.footer-socials__link(href="#" title="")
                            svg.footer-socials__pic
                                use(xlink:href="./assets/img/sprite.svg#fb-c")
                    li.footer-social__item
                        a.footer-socials__link(href="#" title="")
                            svg.footer-socials__pic
                                use(xlink:href="./assets/img/sprite.svg#in-c")
        a(href="#" title="На верх").backtotop

