footer.footer
    .footer__left
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .made-by
            p © Владимир Астахов
            p Создано с любовью в LoftSchool | 2016
    .footer__middle
        ul.footer__menu
            li.footer__menu-item
                a.footer__menu-link(href="works.html", title="") Мои работы
            li.footer__menu-item
                a.footer__menu-link(href="about.html", title="") Обо мне
            li.footer__menu-item
                a.footer__menu-link(href="blog.html", title="") Блог
            li.footer__menu-item
                a.footer__menu-link(href="index.html", title="") Авторизация
        .footer__socials
            include _socials
    .footer__right
        ul.contacts__items.footer__contacts
            li.contacts__item
                a.contacts__link(href="skype:tehiko43?call") tehiko43
            li.contacts__item
                a.contacts__link(href="mailto:tehiko@inbox.ru") tehiko@inbox.ru
            li.contacts__item
                a.contacts__link(href="tel:79991002448") +7 999 100 24 48
            li.contacts__item
                a.contacts__link Киров, Подгорная 2-38