input(type="checkbox", id="menuToggler").input-toggler
label(for="menuToggler").menu-toggler
    span.menu-toggler__line
    span.menu-toggler__line
    span.menu-toggler__line
.hamburger__menu
    ul.menu__items
        li.menu__item
            a(href="index.html", ttle="").menu__link
                h1.title.menu__title_pos На главную
        li.menu__item
            a(href="about.html", ttle="").menu__link
                h1.title.menu__title_pos Обо мне
        li.menu__item
            a(href="works.html", ttle="").menu__link
                h1.title.menu__title_pos Мои работы
        li.menu__item
            a(href="blog.html", ttle="").menu__link
                h1.title.menu__title_pos Блог

