nav
    ul.nav__items
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Услуги
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Акции
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Скидки
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Отзывы
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Адреса
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
        li.nav__item
            a.nav__item-link(href="/uslugi.html") Блог
                .nav__item-pointer
            ul.nav__item-list.animated
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров
                li.item-list__item
                    a.list__item-link(href="/remont-i-obslugivanie-computerov.html") Ремонт и обслуживание компьютеров


