nav
    ul.nav__items#nav-items
        li.nav__item
            a.nav__item-link(href="#service") Услуги
            //ul.nav__item-list.animated
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт мобильной электроники
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт техники Apple
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт и обслуживание компьютеров и ноутбуков
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт электронных сигарет
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт гироскутеров
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт электронных сигарет
            //    li.item-list__item
            //        a.list__item-link(href="#")
            //            span Ремонт бытовой техники
        li.nav__item
            a.nav__item-link(href="#otzivi") Отзывы
        li.nav__item
            a.nav__item-link(href="#work-process") Блог
        li.nav__item
            a.nav__item-link#addresses(href="#contacts") Контакты
    ul.offcanvas
        li.offcanvas__item
            a.offcanvas__item-link(href="#service") Услуги
            //ul.offcanvs__item-list
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт мобильной электроники
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт техники Apple
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт и обслуживание компьютеров и ноутбуков
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт электронных сигарет
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт гироскутеров
            //    li.offcanvas__item-list__item
            //        a.offcanvas__item-list-link(href="#") Ремонт бытовой техники
        li.offcanvas__item
            a.offcanvas__item-link(href="#otzivi") Отзывы
        li.offcanvas__item
            a.offcanvas__item-link(href="#work-process") Блог
        li.offcanvas__item
            a.offcanvas__item-link#addresses-small(href="#contacts") Контакты
        .nav__mini_close
            .nav__mini_close__line.nav__mini_close__line_one
            .nav__mini_close__line.nav__mini_close__line_two


