section.pagination
    a.previous-page(href="#" title="") Первая
    a.prev-trigger
        svg.prev-trigger__pic
                use(xlink:href="./assets/img/sprite.svg#back")
    ul.pages
        li.page-trigger.checked
            a.page-trigger__link(href="#" title="") 1,
        li.page-trigger
            a.page-trigger__link(href="#" title="") 2,
        li.page-trigger
            a.page-trigger__link(href="#" title="") 3
    a.next-trigger
        svg.next-trigger__pic
                use(xlink:href="./assets/img/sprite.svg#back")
    a.next-page(href="#" title="") Последняя