ul.socials
    li.socials__item
        a(href="").socials__link
            svg.social__item.social__item_vk.social__item_white
                use(xlink:href="./assets/img/sprite.svg#vk")
    li.socials__item
        a(href="").socials__link
            svg.social__item.social__item_gh.social__item_white
                use(xlink:href="./assets/img/sprite.svg#github")
    li.socials__item
        a(href="").socials__link
            svg.social__item.social__item_in.social__item_white
                use(xlink:href="./assets/img/sprite.svg#in")



    //each item in ['vk', 'gh', 'in']
    //    li.socials__item
    //        a(href="" class=`socials__link socials__link_${item}`)

