//section.top-bar#top-bar
//    .top-bar__left
//        ul.top-bar__menu
//            li.top-bar__menu-item
//                a.menu-item__link(href="#contacts" title="") Контакты
//            li.top-bar__menu-item
//                a.menu-item__link(href="price.html" title="") Прайс
//            li.top-bar__menu-item
//                a.menu-item__link(href="usloviya.html" title="") Условия
//            li.top-bar__menu-item
//                a.menu-item__link(href="o-nas.html" title="") О нас
//            li.top-bar__menu-item
//                a.menu-item__link#addresses(href="#") Адреса
//    .top-bar__right
//        ul.social-icons
//            li.social-icon
//                a(href="#" title="").social-icon__link
//                    svg.social-icon__pic
//                        use(xlink:href="./assets/img/sprite.svg#kon")
//            li.social-icon
//                a(href="#" title="").social-icon__link
//                    svg.social-icon__pic
//                        use(xlink:href="./assets/img/sprite.svg#fb")
//            li.social-icon
//                a(href="#" title="").social-icon__link
//                    svg.social-icon__pic
//                        use(xlink:href="./assets/img/sprite.svg#in")
//            li.social-icon
//                a(href="#" title="").social-icon__link
//                    svg.social-icon__pic
//                        use(xlink:href="./assets/img/sprite.svg#sh")
//        ul.user-block
//            li.user-block__item
//                a(href="#" title="").user-block__link
//                    svg.user-block__pic
//                        use(xlink:href="./assets/img/sprite.svg#login")
//                    .user-block__text Вход
//            li.user-block__item
//                a(href="#" title="").user-block__link
//                    svg.user-block__pic
//                        use(xlink:href="./assets/img/sprite.svg#reg")
//                    .user-block__text Регистрация

