.blog {
  display: flex;
  flex-direction: column;

  & .hero {
    height: 396px;
  }
}

.hero__blog {
  @include tablets {
    height: 558px;
  }

  @include phones {
    height: 558px;
  }
}

.blog__content {
  display: flex;
  justify-content: space-between;
  margin-top: -160px;
  background-color: #faf8f0;
  padding-top: 42px;

  @include lowres {
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.blog__list {
  width: 75%;
  padding: 12px 20px 0 0;

  @include lowres {
    width: 100%;
    padding: 0;
  }
}

.blog__item {
  border-bottom: 5px solid rgba($black, .07);
  margin-bottom: 70px;
  width: 75%;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  @include laptops {
    width: 90%;
  }

  @include lowres {
    width: 100%;
  }
}

.blog-headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog__subtitle {
  color: #ffffff;
}

.blog__triangals {
  position: relative;
  width: 100%;
  height: 160px;
  top: -160px;

  & .triangal_fill_blog {
      fill: #faf8f0 !important;
  }
}

.blog__title_pos {
  padding: 10px 50px;
  color: #ffffff;

  .title__bg {
    width: 120%;
    @include centrize;
    margin-top: 20px;
    opacity: .1;
    z-index: -1;
  }

  &:before {
    top: -5px;

    @include lowres {
      top: 1px;
  }

    @include tablets {
      top: 23px;
    }
  }

  &:after {
    top: -5px;

    @include lowres {
      top: 1px;
  }

    @include tablets {
    top: 23px;
  }
  }
}

.blog-headline .title {
  &:after {
    content: url('../img/decor/blog_title_left.svg');
    left: 0;

    @include tablets {
      left: -10px;
    }
  }

  &:before {
    content: url('../img/decor/blog_title_right.svg');
    right: 0;

    @include tablets {
      right: -10px;
    }
  }
}

.item__title {
  line-height: 40px;
  margin-bottom: 26px;
  &:after, &:before {
  display: none;
  }
}

.item__date {
  color: $orange;
}

.item__text {
  padding: 30px 30px 70px 0;

  @include tablets {
    padding-right: 0;
  }
}

.text__img-box {
  width: 100%;
  overflow: scroll;
}

.down-arrow__blog {
  display: none;
  @include lowres {
    display: block;
    bottom: 40px;
  }
}