.contacts {
  overflow: hidden;
  position: relative;
  background: rgba(124, 123, 123, .6);
  display: flex;
  justify-content: center;
  height: 836px;

  @include tablets {
    max-height: 600px;
  }

  @include smarts {
    height: 600px;
  }

  @include iphones {
    height: 400px;
  }

  &__bg {
    background-image: url(../img/paralax/contacts.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(8px);
    z-index: -2;
  }

  &__items {
    margin-bottom: 25px;
  }
}

.title__contacts {
  @include tablets {
    font-size: 30px !important;
  }

  @include iphones {
    font-size: 26px !important;
  }
}

.contacts .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__content {
  background: rgba(255, 255, 255, .65);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 22px;

  @include smarts {

  }
}

.title__contacts {
  color: #3e3e3e;
  position: relative;
  margin-bottom: 12px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 35px;
    background: #3e3e3e;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    margin-top: -2px;

    @include tablets {
      width: 20px;
      height: 2px;
    }
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 35px;
    background: #3e3e3e;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    margin-top: -2px;

    @include tablets {
      width: 20px;
      height: 2px;
    }
  }
}

.contacts__link {
  display: flex;
  color: $black;
  justify-content: flex-start;
  align-items: center;
  transition: .5s;
  
  &:hover {
    background: rgba(47, 141, 52, .16);
  }
}

.contacts__pic {
  height: 42px;
  width: 42px;
  margin: 0 47px 0 70px;

  @include tablets {
    width: 32px;
    height: 32px;
  }

  @include smarts {
    height: 24px;
    width: 24px;
  }

  @include iphones {
    height: 18px;
    width: 18px;
    margin: 0 20px;
  }
}

.contacts__text {
  @include cormac(light);
  font-size: 27px;
  line-height: 76px;
  margin-right: 70px;
  color: #3e3e3e;

  @include tablets {
    font-size: 24px;
    line-height: 56px;
  }

  @include smarts {
    font-size: 20px;
    line-height: 45px;
  }

  @include iphones {
    font-size: 16px;
    line-height: 36px;
    margin: 0 10px 0 0;
  }
}