.input-toggler {
  display: none;
}

.menu-toggler {
  height: 28px;
  width: 35px;
  position: absolute;
  transition: .5s;
  right: 25px;
  top: 27px;
  cursor: pointer;
  z-index: 100;

  //&__menu {
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  background-color: rgba($orange, .8);
  //  z-index: 999;
  //  display: none;
  //  position: fixed;
  //}

  &__line {
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 3px;
    transition-property: transform, opacity;
    transition-duration: .5s, .25s;
    transition-delay: 0s, .5s;

    &:nth-child(2) {
      top: calc(28px / 5 * 2);
    }

    &:nth-child(3) {
      top: calc(28px / 5 * 4);
    }
  }
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
  transition-delay: .25s, 0s;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
  transform: translateY(calc(27.4px / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
  opacity: 0;
}

.input-toggler:checked ~ body {
  position: fixed;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
  transform: translateY(calc(27.4px / 5 * -2)) rotate(-45deg);
}

.menu__items {
  @include centrize;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 63px;
  color: #ffffff;
}

.hamburger__menu {
  width: 100vw;
  transform: translateX(calc(100vw * -1));
  background-color: rgba($orange, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: .5;
  transition: transform .6s, background-position 1s .6s;
  z-index: 99;
}

.input-toggler:checked ~ .hamburger__menu {
  opacity: .9;
  transform: translateX(0);
}

.menu__link {
  font-weight: bold;
  & .title {
    color: #ffffff;
  }
}

.menu__item {
  padding: 10px;

  &:first-child {
    padding-top: 0;
  }
}

