.hero {
  background-image: url('../img/welcome-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;

  &__blog {
    height: 396px;
    background-position: center center;
  }
}

.about__user {
  margin-top: 124px;
}

.down-arrow {
  height: 16px;
  width: 16px;
  border-top: 5px solid;
  border-right: 5px solid;
  border-color:  rgba(#fff, .5);
  border-radius: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(135deg);
  bottom: 70px;
  z-index: 1;

  &:hover {
    border-color:  rgba(#fff, 1);
  }
}

.user__title-bg {
  width: 95%;
  height: 313px;
  fill: $orange;
  fill-opacity: .1;
  @include centrize;
}