.map {
  height: 900px;
  width: 100%;
  position: relative;

  @include phones {
    position: static;
    height: 100%;
  }
}

.yandex-map {
  position: relative;
  height: 900px;
  width: 100%;
  z-index: -1;


  @include phones {
    position: static;
  }
}