.skills__stats {
  margin-top: 34px;
  padding-right: 110px;

  @include lowres {
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.skill-section {
  padding: 0 10px 14px 0;

  @include lowres {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.skill-section__item {
  margin-right: 7%;

  @include laptops {
    margin: 0 4% 5% 0;
  }

  @include lowres {
    margin-right: 0;
  }
}

.skill-section__title {
  color: $gray;
  @include roboto(medium);
  font-size: 28px;
  line-height: 62px;

  @include lowres {
    width: 100%;
  }
}

.circle__first {
  fill: none;
  stroke: #dfdcd5;
  stroke-width: 20px;
}

.circle__second{
  stroke-width: 20px;
  stroke: $orange;
  fill: transparent;
}

.circle__html {
  stroke-width: 20px;
  stroke: $orange;
  fill: transparent;
}

.skill-section__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 10px;

  @include laptops {
    flex-wrap: wrap;
    margin-right: -150px;
  }

  @include lowres {
    width: 100%;
    justify-content: space-around;
    margin-right: 0;
    padding-right: 0;
  }
}

.skill__name {
  position: absolute;
  color: $orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill {
  position: relative;
  @include roboto(medium);
  font-size: 14px;
}

.skills {

  & .subtitle {
    &:before{
      @include iphones {
        right: -5px;
      }
    }

    &:after {
      @include iphones {
        left: -5px;
      }
    }
  }

  &__desc {
    text-align: left;
  }
  @include lowres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    &__item {
      @include lowres {
        width: 100%;
      }
    }
  }
}