.testimonials {
  background-image: url('../img/testimonials-bg.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f0e6d2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  .title {
    @include phones {
      font-size: 35px;
      line-height: 40px;
      margin-top: 40px;
    }

    &:before {
      top: 55px;
      right: 20px;

      @include tablets {
        top: 75px;
        right: 40px;
      }

      @include phones {
        top: 28px;
        right: -28px;
      }
    }

    &:after {
      top: 55px;
      left: 20px;

      @include tablets {
        top: 75px;
        left: 40px;
      }

      @include phones {
        top: 28px;
        left: -28px;
      }
    }
  }
}

.testimonials__title-pos {
  padding: 37px 76px;
  margin-top: 28px;
  text-align: center;
  line-height: 1;
  width: 500px;
  height: 175px;

  @include phones {
    height: auto;
    width: 250px;
    padding: 0 20px;
  }

  .title__bg {
    width: 499px;
    height: 175px;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    fill: $orange;
    margin-top: 35px;

    @include phones {
      width: 120%;
      margin-top: -10px;
    }
  }
}

.testimonials__content {
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__items {
  display: flex;
  margin-top: 107px;
  margin-left: -20px;
  padding: 0 20px;

  @include phones {
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.testimonials__item {
  height: 230px;
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: baseline;

  @include phones {
    margin-top: 90px;
    width: 100%;
  }
}

.testimonials__text {
  position: relative;
  margin-bottom: 25px;

  &:before {
    position: absolute;
    content: url('../img/decor/quote.png');
    opacity: .2;
    width: 33px;
    height: 27px;
    top: -56px;

    @include phones {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.reviewer {
  display: flex;
  align-items: center;

  &__pic {
    display: block;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;

    &_margin_top {
      margin-top: -20px;
    }

    & img {
      vertical-align: middle;
    }
  }

  .reviewer__info {
    color: $orange;
  }

  .reviewer__name {
    font-weight: bold;
  }
}