.title {
  font-size: 63px;
  color: $black;
  position: relative;
  line-height: 60px;

  @include lowres {
    font-size: 50px;
  }

  &:before, &:after {
    display: block;
    position: absolute;
    top: -5px;

    @include lowres {
      top: -1px;
    }

    @include tablets {
      top: 20px;
      font-size: 35px;
      line-height: 30px;
    }
  }

  &:after {
    content: url('../img/decor/ellipse-big-left.svg');
    left: 0;

    @include phones {
      left: -9px;
    }
  }

  &:before {
    content: url('../img/decor/ellipse-big-right.svg');
    right: 0;

    @include phones {
      right: -9px;
    }
  }
}

.subtitle {
  font-size: 35px;
  color: $gray;
  display: inline-block;
  position: relative;

  @include lowres {
    font-size: 30px;
  }

  &:after {
    display: block;
    content: url('../img/decor/ellipse-small-left.svg');
    position: absolute;
    top: -5px;
    left: -30px;

    @include iphones {
      left: -10px;
    }
  }

  &:before {
    display: block;
    content: url('../img/decor/ellipse-small-right.svg');
    position: absolute;
    top: -5px;
    right: -30px;

    @include iphones {
      right: -10px;
    }
  }
}

.title__bg {
  fill: $orange;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  opacity: .07;
}