.triangal {
  position: absolute;
  bottom: 100%;
  width: 100%;

  @include tablets {
    width: 50%;
  }

  &_fill {
    &_white {
      fill: #efeee9;
    }
  }
}

.about_right_tab {
  @include lowres {
    width: 50%;
    fill: #efeee9 !important;
  }
}

.fill_work {

  &_left {
    fill: #faf8f0 !important;
    bottom: 0;
    width: 50%;
  }

  &_right {
    fill: #faf8f0 !important;
    bottom: 0;
    width: 50%;
    right: 0;
  }
}