.user {
  color: #fff;
  text-align: center;
}

.user__pic {
  background-position: left;
  background-size: cover;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 14px;
  margin-top: 10px;
}

.user__title {
  display: inline;
  @include roboto(medium);
  font-size: 35px;
  line-height: 50px;

  &_less {
    font-size: 28px;
  }
}

.user__description {
  @include roboto(medium);
  font-size: 16px;
}

.float-square .socials {
  justify-content: center;
  line-height: 92px;
  margin-top: 6px;
}