.openup
    .article__closer
    .openup__mobile
        .article__title Ремонт мобильной электроники
        .article__headline
            p Мы осуществляем профессиональный ремонт и сервисное обслуживание мобильной электроники. Если у вас сломался сотовый телефон, смартфон или планшетный компьютер наш сервисный центр готов помочь в их восстановлении.
        .article__content
            p.
                Опыт наших мастеров позволяет выполнять широкий спектр работ в области ремонта и сервиса от простой профилактики до сложной пайки печатных плат и компонентов. Наша деятельность основана на безграничной любви к электронике и огромном желании помогать нашим клиентам. Всё это позволяет нам делать работу качественно, в максимально короткие сроки и по доступной цене.
            br
            p.
                Наш сервисный центр производит ремонт мобильной техники ведущих производителей, а также гаджетов менее известных и даже редких марок. Если необходимые запчасти имеются на нашем складе, процесс ремонта занимает совсем немного времени, 1−2 дня.
            br
            p.
                В случае, если нужного элемента в наличии не окажется, вам позвонят и оповестят о примерных сроках поставки детали.
            br
        .title__table
            p Прайс-лист:
        table.article__table(border="1", width="100%", cellpadding="5")
            tr.row__inner-line
                td(colspan="3")
                    h3 Android смартфоны
            tr
                td Телефоны/Смартфоны
                td Замена тач-скирина/дисплея/модуля дисплея
                td 570 руб.
            tr
                td Телефоны/Смартфоны
                td Замена тач-скирина/дисплея с расклейкой модуля
                td 1370 руб.
            tr
                td Телефоны/Смартфоны
                td Замена АКБ
                td 100 руб.
            tr
                td Телефоны/Смартфоны
                td Замена встроенного АКБ
                td 470 руб.
            tr
                td Телефоны/Смартфоны
                td Замена (подбор) детали корпуса
                td 100 руб.
            tr
                td Телефоны/Смартфоны
                td Замена кнопки на корпусе (подбор)
                td 170 руб.
            tr
                td Телефоны/Смартфоны
                td Замена периферии (мелкий зип, динамик, микрофон и т.п.)
                td 470 руб.
            tr
                td Телефоны/Смартфоны
                td Сборка/разборка корпуса (операции прибавляется к стоимости последующего ремонта)
                td 870 руб.
            tr
                td Телефоны/Смартфоны
                td Пайка (шлейф, контакты) 1 узел
                td 470 руб.
            tr
                td Телефоны/Смартфоны
                td Пайка (шлейф, контакты) со второго узла
                td 270 руб.
            tr
                td Телефоны/Смартфоны
                td Замена разъема зарядки (слот сим, слот флешки, гнезда)
                td 570 руб.
            tr
                td Телефоны/Смартфоны
                td Замена разъёма зарядки с восстановлением печатной платы
                td 570 руб.
            tr
                td Телефоны/Смартфоны
                td Прошивка
                td 500 руб.
            tr
                td Телефоны/Смартфоны
                td Прошивка с восстановлением Imei, NVRAM
                td 630 руб.
            tr
                td Телефоны/Смартфоны
                td Сброс пароля (рекавери)
                td 470 руб.
            tr
                td Телефоны/Смартфоны
                td Возврат к заводским настройкам
                td 270 руб.
            tr
                td Телефоны/Смартфоны
                td Восстановление после глубокого разряда
                td 270 руб.
            tr
                td Телефоны/Смартфоны
                td Сброс аккаунта
                td 1370 руб.
            tr
                td Телефоны/Смартфоны
                td Чистка от коррозии, механическая (с использованием щёток, кисточек, слабых реактивов)
                td 570 руб.
            tr
                td Телефоны/Смартфоны
                td Чистка от коррозии в УЗ ванне (высокочастотная ультразвуковая ванна: используются сильные реактивы)
                td 870 руб.
            tr
                td Телефоны/Смартфоны
                td Акт технического состояния изделия
                td 270 руб.
            tr
                td Телефоны/Смартфоны
                td Диагностический осмотр
                td 150 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Android планшеты
            tr
                td Планшеты
                td Замена тач-скирина/дисплея/модуля дисплея
                td 670 руб.
            tr
                td Планшеты
                td Замена тач-скирина/дисплея с расклейкой модуля
                td 1570 руб.
            tr
                td Планшеты
                td Замена встроенного АКБ
                td 470 руб.
            tr
                td Планшеты
                td Замена задней крышки корпуса
                td 370 руб.
            tr
                td Планшеты
                td Замена кнопки на корпусе (подбор)
                td 170 руб.
            tr
                td Планшеты
                td Замена периферии (Мелкий зип, динамик, микрофон, и т.п.)
                td 670 руб.
            tr
                td Планшеты
                td Сборка/разборка корпуса через дисплей (операции прибавляется к стоимости последующего ремонта)
                td 970 руб.
            tr
                td Планшеты
                td Пайка (шлейф, контакты) 1 узел
                td 570 руб.
            tr
                td Планшеты
                td Пайка (шлейф, контакты) со второго узла
                td 270 руб.
            tr
                td Планшеты
                td Замена разъема зарядки (слот сим, слот флешки, гнезда)
                td 670 руб.
            tr
                td Планшеты
                td Замена разъёма зарядки с восстановлением печатной платы
                td 970 руб.
            tr
                td Планшеты
                td Прошивка
                td 500 руб.
            tr
                td Планшеты
                td Прошивка с восстановлением Imei, NVRAM
                td 630 руб.
            tr
                td Планшеты
                td Сброс пароля (рекавери)
                td 470 руб.
            tr
                td Планшеты
                td Возврат к заводским настройкам
                td 270 руб.
            tr
                td Планшеты
                td Восстановление после глубокого разряда
                td 270 руб.
            tr
                td Планшеты
                td Сброс аккаунта
                td 670 руб.
            tr
                td Планшеты
                td Чистка от коррозии, механическая (с использованием щёток, кисточек, слабых реактивов)
                td 570 руб.
            tr
                td Планшеты
                td Чистка от коррозии в УЗ ванне (высокочастотная ультразвуковая ванна: используются сильные реактивы)
                td 870 руб.
            tr
                td Планшеты
                td Акт технического состояния изделия
                td 270 руб.
            tr
                td Планшеты
                td Диагностический осмотр
                td 150 руб.
            tr
                td Планшеты
                td Сброс аккаунта Miezu, Xaiomi
                td 1370 руб.

            tr.row__inner-line
                td(colspan="3")
                    h3 Кнопочные Телефоны
            tr
                td Кнопочные Телефоны
                td Ремонт без пайки
                td 270 руб.
            tr
                td Кнопочные Телефоны
                td Ремонт с пайкой/прошивка
                td 370 руб.
            tr
                td Кнопочные Телефоны
                td Ремонт основной платы
                td 470 руб.
    .openup__apple
        .article__title Ремонт техники Apple
        .article__headline
            p Если вы обладатель одного из устройств Apple - это здорово.
        .article__content
            p.
                Если с вашим аппаратом стало что-то не так, или он требует серьезного ремонта – не переживайте, наши специалисты отлично разбираются в каждой модели. Мы обязательно вам поможем с его ремонтом и обслуживанием.
            br
        .title__table
            p Прайс-лист на технику Apple:
        table.article__table(border="1", width="100%", cellpadding="5")
            tr.row__inner-line
                td(colspan="3")
                    h3 iPhone 4/4S
            tr
                td iPhone 4/4S
                td Замена дисплейного модуля
                td 1170 руб.
            tr
                td iPhone 4/4S
                td Замена шлейфа кнопки включения (кнопки громкости, переключение, вибро)
                td 870 руб.
            tr
                td iPhone 4/4S
                td Замена АКБ
                td 570 руб.
            tr
                td iPhone 4/4S
                td Замена кнопки «Home»
                td 670 руб.
            tr
                td iPhone 4/4S
                td Замена нижнего шлейфа (микрофон, ЗУ)
                td 870 руб.
            tr
                td iPhone 4/4S
                td Замена задней крышки
                td 270 руб.
            tr
                td iPhone 4/4S
                td Прошивка
                td 570 руб.
            tr
                td iPhone 4/4S
                td Диагностика
                td 100 руб.
            tr
                td iPhone 4/4S
                td Замена слухового динамика
                td 670 руб.
            tr
                td iPhone 4/4S
                td Замена основной камеры
                td 570 руб.
            tr
                td iPhone 4/4S
                td Замена камеры фронтальной
                td 670 руб.
            tr
                td iPhone 4/4S
                td Замена контроллера питания
                td 1470 руб.
            tr
                td iPhone 4/4S
                td Чистка после попадания влаги
                td 770 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 iPhone 5/5S/5C
            tr
                td iPhone 5/5S/5C
                td Замена дисплейного модуля
                td 1370 руб.
            tr
                td iPhone 5/5S/5C
                td Замена шлейфа кнопки включения (кнопки громкости, переключение, вибро)
                td 1170 руб.
            tr
                td iPhone 5/5S/5C
                td Замена АКБ
                td 670 руб.
            tr
                td iPhone 5/5S/5C
                td Замена кнопки «home»
                td 670 руб.
            tr
                td iPhone 5/5S/5C
                td Замена нижнего шлейфа (микрофон, ЗУ)
                td 870 руб.
            tr
                td iPhone 5/5S/5C
                td Замена задней крышки
                td 1570 руб.
            tr
                td iPhone 5/5S/5C
                td Замена основной/фронтальной камеры
                td 870 руб.
            tr
                td iPhone 5/5S/5C
                td Замена контроллера питания
                td 2470 руб.
            tr
                td iPhone 5/5S/5C
                td Чистка после попадания влаги
                td 970 руб.
            tr
                td iPhone 5/5S/5C
                td Прошивка
                td 570 руб.
            tr
                td iPhone 5/5S/5C
                td Диагностика
                td 100 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 iPhone 6/6S/6+
            tr
                td iPhone 6/6S/6+
                td Замена дисплейного модуля
                td 1570 руб.
            tr
                td iPhone 6/6S/6+
                td Замена шлейфа кнопки включения (кнопки громкости, переключение, вибро)
                td 1270 руб.
            tr
                td iPhone 6/6S/6+
                td Замена АКБ
                td 770 руб.
            tr
                td iPhone 6/6S/6+
                td Замена кнопки «home»
                td 870 руб.
            tr
                td iPhone 6/6S/6+
                td Замена нижнего шлейфа (микрофон, ЗУ)
                td 970 руб.
            tr
                td iPhone 6/6S/6+
                td Замена корпуса
                td 1870 руб.
            tr
                td iPhone 6/6S/6+
                td Замена основной/фронтальной камеры
                td 970 руб.
            tr
                td iPhone 6/6S/6+
                td Замена контроллера питания
                td 3570 руб.
            tr
                td iPhone 6/6S/6+
                td Чистка после попадания влаги
                td 1170 руб.
            tr
                td iPhone 6/6S/6+
                td Прошивка
                td 570 руб.
            tr
                td iPhone 6/6S/6+
                td Диагностика
                td 100 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 iPad
            tr
                td iPad
                td Модульный ремонт iPad 2/3/4
                td 1170 руб.
            tr
                td iPad
                td Модульный ремонт iPad mini
                td 1970 руб.
            tr
                td iPad
                td Модульный ремонт iPad Air
                td 2270 руб.
            tr
                td iPad
                td Модульный ремонт iPad Pro
                td 2970 руб.
    .openup__comp
        .article__title Ремонт и обслуживание компьютеров и ноутбуков
        .article__headline
            p Поломки есть механические и программные.
        .article__content
            p.
                К механическим можно отнести все: разлитый кофе на клавиатуру, побитый экран, кусочки пластика в корпусе ноутбука в результате удара, перегрев процессора из-за несвоевременной чистки кулера.
            br
            p.
                Программные поломки появляются в результате чрезмерной нагрузки системы, некорректно установленных программ, сильного вирусного заражения, отсутствия системы защиты.
            br
            p.
                Неполадки в работе компьютера - довольно частое явление, поэтому своевременное обслуживание и ремонт техники необходим.
            br
        .title__table
            p Прайс-лист на ремонт и обслуживание компьютеров и ноутбуков:
        table.article__table(border="1", width="100%", cellpadding="5")
            tr.row__inner-line
                td(colspan="3")
                    h3 Общие условия
            tr
                td Первичная диагностика
                td Программная проверка основных узлов ноутбука и последующие рекомендации; Акт технического состояния (заключение); (бесплатно при продолжении работ)
                td 470 руб.
            tr
                td Аппаратная диагностика
                td Сборка разборка; Поиск и выявление неисправного узла; Прогрев, пропайка, замена smd компонентов. Акт технического состояния (заключение); (бесплатно при продолжении работ)
                td 970 руб.
            tr
                td Услуги не указанные в прайс-листе
                td Работы выполняются по согласованию с клиентом
                td По согласованию
            tr.row__inner-line
                td(colspan="3")
                    p Пакеты услуг
            tr.row__inner-line
                td(colspan="3")
                    h3 Ноутбуки, нетбуки
            tr
                td Профилактика «Лайт»:
                td Сборка-разборка ноутбука; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Диагностический лист.
                td 770 руб.
            tr
                td Профилактика "Стандарт":
                td Сборка-разборка; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Чистка корпуса и клавиатуры от пятен и грязи; Смазка вентилятора; Диагностический лист.
                td 1170 руб.
            tr
                td Профилактика "Полная":
                td Сборка-разборка; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Чистка корпуса и клавиатуры от пятен и грязи; Установка ПО; Смазка вентилятора; Установка/Замена комплектующих до 1-й ед.; Чистка контактов, разъемов; Диагностический лист;
                td 1970 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Системные блоки, моноблоки, неттопы
            tr
                td Профилактика "Лайт":
                td Сборка-разборка; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Диагностический лист.
                td 870 руб.
            tr
                td iPhone Профилактика "Стандарт":
                td Сборка-разборка; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Чистка корпуса от пятен и грязи; Чистка Блока Питания; Смазка вентилятора для процессора, Видеокарта, БП; Диагностический лист.
                td 1170 руб.
            tr
                td Профилактика "Полная":
                td Сборка-разборка; Чистка Системы Охлаждения; Замена термо-прокладок; Замена термопасты; Чистка корпуса от пятен и грязи; Восстановление ОС с драйверами и ПО; Чистка Блока Питания; Смазка вентилятора для процессора, Видеокарта, БП; Установка/Замена комплектующих до 1-й ед.; Чистка контактов, разъемов; Диагностический лист;
                td 1970 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Восстановление корпуса
            tr
                td (1 категория):
                td Восстановление одного элемента крепежа корпуса.
                td 200 руб.
            tr
                td (2 категория):
                td До 5 элементов.
                td 370 руб.
            tr
                td (3 категория):
                td Более 5 элементов;
                td 570 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Оборудование, комплектующие
            tr
                td Оборудование, комплектующие
                td Установка/Замена CMOS (с учетом зип)
                td 270 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена HDD
                td 270 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена ОЗУ
                td 270 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена вентилятора
                td 570 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена клавиатуры (ноутбук)
                td 670 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена матрицы, шлейфа матрицы
                td 870 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена петель
                td 870 руб.
            tr
                td Оборудование, комплектующие
                td Замена разъемов ЗУ, USB и т.д.
                td 770 руб.
            tr
                td Оборудование, комплектующие
                td Ремонт разъемов ЗУ, USB и т.д.
                td 570 руб.
            tr
                td Оборудование, комплектующие
                td Замена мат. платы.
                td 870 руб.
            tr
                td Оборудование, комплектующие
                td Замена корпуса ноутбука
                td 870 руб.

            tr
                td Оборудование, комплектующие
                td Обтягивание корпуса виниловой пленкой
                td 670 руб.
            tr
                td Оборудование, комплектующие
                td Прошивка, обновление, снятие пароля BIOS
                td 970 руб.
            tr
                td Оборудование, комплектующие
                td Восстановление материнской платы. (Цена услуги может возрасти от сложности работ.)
                td 2000 руб.
            tr
                td Оборудование, комплектующие
                td Замена чипа, реболл (Замена Северного, Южного мостов, видео чипа).
                td 3000 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена видео-карты
                td 270 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена CD/DVD привода
                td 270 руб.
            tr
                td Оборудование, комплектующие
                td Установка/Замена АКБ (ноутбук с разборкой)
                td 570 руб.
            tr
                td Оборудование, комплектующие
                td Подбор и установка клавиши
                td 270 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Установка и настройка
            tr
                td Установка и настройка
                td Предустановка ОС
                td 570 руб.
            tr
                td Установка и настройка
                td Клонирование ОС
                td 1470 руб.
            tr
                td Установка и настройка
                td Установка и настройка драйверов устройств
                td 570 руб.
            tr
                td Установка и настройка
                td Снятие пароля с ОС
                td 570 руб.
            tr
                td Установка и настройка
                td Удаление вирусов
                td 570 руб.
            tr
                td Установка и настройка
                td Восстановление ОС
                td 1470 руб.
            tr
                td Установка и настройка
                td Установка и настройка ПО
                td 570 руб.
            tr
                td Установка и настройка
                td Установка настройка ПО (в пакете услуг)
                td 150 руб.
            tr
                td Установка и настройка
                td Очистка диска и ОС от старых и не нужных файлов
                td 570 руб.
            tr
                td Установка и настройка
                td Установка и настройка принтера/сканера
                td 570 руб.
            tr
                td Установка и настройка
                td Настройка Lan, Wi-Fi
                td 570 руб.
            tr
                td Установка и настройка
                td Прошивка роутера
                td 270 руб.
            tr
                td Установка и настройка
                td Настройка ОС
                td 570 руб.
            tr
                td Установка и настройка
                td Активация ПО (официальная) - Цена услуги зависит от стоимости ключа активации.
                td от 250 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Профилактические работы
            tr
                td Профилактические работы
                td Чистка, смазка вентилятора (за ед.)
                td 170 руб.
            tr
                td Профилактические работы
                td Чистка от коррозии Механическая (ед.)
                td 170 руб.
            tr
                td Профилактические работы
                td Чистка от коррозии в УЗ ванне (обязательна к применению при попадании жидкости и других веществ)
                td 970 руб.
            tr
                td Профилактические работы
                td Чистка интерфейсов и системы охлаждения
                td 870 руб.
            tr
                td Профилактические работы
                td Замена термопасты (за ед.)
                td 150 руб.
            tr
                td Профилактические работы
                td Замена термопрокладки
                td 250 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Работа с данными
            tr
                td Работа с данными
                td Перенос и сохранение данных (за 1 гб)
                td -
            tr
                td Работа с данными
                td Восстановление данных  (в зависимости от сложности)
                td от 1000 руб.
            tr.row__inner-line
                td(colspan="3")
                    h3 Дополнительные услуги
            tr
                td Дополнительные услуги
                td Выезд мастера бесплатно
                td
            tr
                td Дополнительные услуги
                td Доставка оборудования к заказчику
                td
            tr
                td Дополнительные услуги
                td Вызов Сервис-инженера с 20.00 до 08.00
                td
    .openup__esig
        .article__title Ремонт электронных сигарет
        .article__headline
            p Рынок VAPE индустрии активно развивается, наш сервис поможет с ремонтом вашего VAPE и проконсультировать по всем вопросам.
        .article__content
            p.
                Наши мастера смогут починить электронную сигарету или мод любого производителя в кратчайшие сроки и по низкой цене.
            br
        .title__table
            p Прайс-лист на ремонт электронных сигарет:
        table.article__table(border="1", width="100%", cellpadding="5")
            tr
                //td Электронная сигарета
                td Пайка
                td.td-price 150 руб.
            tr
                //td Электронная сигарета
                td Замена аккумулятора
                td 300 руб.
            tr
                //td Электронная сигарета
                td Замена платы
                td 170 руб.
            tr
                //td Электронная сигарета
                td Замена резьбового соединения
                td 170 руб.
            tr
                //td Электронная сигарета
                td Замена резинового уплотнителя
                td 100 руб.
            tr
                //td Электронная сигарета
                td Замена кнопки
                td 170 руб.
            tr
                //td Электронная сигарета
                td Замена модуля Passthrough
                td 200 руб.
            tr
                //td Электронная сигарета
                td Замена пина на универсальный
                td 370 руб.
    .openup__giro
        .article__title Ремонт и обслуживание гироскутеров
        .article__headline
            p Наша компания проводит ремонт гироскутеров в случае заводского брака или поломки.
        .article__content
            p.
                Мы выполняем диагностику и выявляем истинную причину неполадки. При отсутствии нарушений эксплуатации наш Сервисный центр осуществляет ремонт  в ближайшее время.
            br
            p.
                Специалистами нашей компании используются только оригинальные запчасти, которые заказываются напрямую у производителя. У нас всегда есть необходимые детали, поэтому ремонт гироскутеров проходит быстро и качественно.
            br
        .title__table
            p Прайс-лист на ремонт гироскутеров:
        table.article__table(border="1", width="100%", cellpadding="5")
            tr
                //td Гироскутер
                td Замена аккумулятора
                td 470 руб.
            tr
                //td Гироскутер
                td Замена корпуса
                td 500 руб.
            tr
                //td Телефон
                td Замена платы
                td 500 руб.
            tr
                //td Гироскутер
                td Ремонт мотор-колеса
                td 770 руб.
            tr
                //td Гироскутер
                td Замена каркаса
                td 1000 руб.
            tr
                //td Гироскутер
                td Ремонт на компонентном уровне
                td 970 руб.
    .openup__bit
        .article__title Ремонт бытовых приборов и техники
        .article__headline
            p Современная бытовая техника отличается высокой надежностью, но иногда могут возникать различные поломки и неполадки.
        .article__content
            p.
                Чтобы решить такие проблемы в максимально короткие сроки, стоит обращаться к профессиональным мастерам. Они могут быстро выяснить причину поломки и оперативно ее устранить, а вы опять сможете пользоваться стиральной машиной или холодильником.
            br
            p.
                Быстрый и качественный ремонт бытовых приборов  и техники по выгодным ценам осуществляет наш сервисный центр "Прометей".
            br
