extends ../_template

block variables
    - var title = 'Блог'

block content
    .content
        .wrapper
            include ../common/_hamburger_menu
            section.section.hero.hero__blog
                include ../common/_header
                .blog-headline
                    .user__pic(style="background-image: url('assets/img/user.jpg');")
                    h1.title.blog__title_pos Блог
                        svg.title__bg
                            use(xlink:href="./assets/img/sprite.svg#blog_header")
                    p.blog__subtitle Статьи, которые я написал
                a(href="").down-arrow.down-arrow__blog
            .blog__triangals
                include ../sections/_triangals
            .section.blog__content
                include ../common/_sidebar
                include ../sections/_blog
        include ../common/_footer
    include ../common/_preloader

