extends ../_template

block variables
  - var title = 'Главная страница'

block content
  include ../sections/_welcome
  .copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
  button(type="button").auth-btn Авторизоваться
  include ../common/_preloader


