extends ../_template

block variables
    - var title = 'Cервисный центр "Прометей"'

block content
    .wrapper
        include ../common/_top-bar
        include ../common/_header
        include ../sections/_slider-block
        include ../sections/_service-block
        include ../sections/_feedbacks-block
        include ../sections/_video-block
        include ../sections/_brands-block
        include ../sections/_articles-block
        include ../sections/_contacts-block
    include ../common/_footer

