//extends ../_template
//
//block variables
//    - var title = 'Блог сервисного центра "Прометей"'
//
//block content
//    .wrapper#wrapper
//        include ../common/_top-bar
//        include ../common/_header
//        .article
//            .container
//                include ../common/_breadcrumbs
//                include ../common/_article-header
//                include ../common/_article
//    include ../common/_footer

