extends ../_template

block variables
    - var title = 'Мои работы'

block content
    .content
        .wrapper
            include ../common/_hamburger_menu
            section.section.hero
                include ../common/_header
                .about__user
                    .about__bg-title
                    include ../common/_user
                        svg.user__title-bg
                            use(xlink:href="./assets/img/sprite.svg#works_header")
                a(href="").down-arrow
            include ../sections/_works
            include ../sections/_testimonials
        include ../common/_footer
    include ../common/_preloader

